@page
@model LOVA.API.Pages.Lova.Maintenance.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">

    <div class="row">
        <h4>Ny underhållsaktivitet</h4>
    </div>

    <div class="row">
  
    <hr />
    </div>


   
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="form-group">
                    <label asp-for="Maintenance.Association" class="control-label">Förening</label>
                    <select asp-for="Maintenance.AssociationId" id="associationId" asp-items="ViewBag.AssociationList" class="form-select"></select>
                    <span asp-validation-for="Maintenance.AssociationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Maintenance.MaintenanceGroup" class="control-label"></label>
                    <select asp-for="Maintenance.MaintenanceGroupId" id="maintenanceGroupId" class="form-select"></select>
                    <span asp-validation-for="Maintenance.MaintenanceGroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Maintenance.Name" class="control-label"></label>
                    <input asp-for="Maintenance.Name" class="form-control" />
                    <span asp-validation-for="Maintenance.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Maintenance.RecurringFrequence" class="control-label"></label>
                    <input asp-for="Maintenance.RecurringFrequence" class="form-control" />
                    <span asp-validation-for="Maintenance.RecurringFrequence" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Maintenance.LastMaintenance" class="control-label"></label>
                    <input asp-for="Maintenance.LastMaintenance" class="form-control" />
                    <span asp-validation-for="Maintenance.LastMaintenance" class="text-danger"></span>
                </div>
                <div class="form-group mt-5">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

    <script type="text/javascript">
    $(document).ready(function () {
        getSubCategoryListByCategoryId();
    })

    $("#associationId").change(function () {
        getSubCategoryListByCategoryId();
    });

    var getSubCategoryListByCategoryId = function () {
         $.ajax({
            url: '/Lova/Maintenance/Create?handler=GetMaintenanceGroups',
            type: 'GET',
            data: {
                associationId:$('#associationId').val(),
            },
            success: function (data) {
                $('#maintenanceGroupId').find('option').remove()
                $(data).each(
                    function (index, item) {
                        $('#maintenanceGroupId').append('<option value="' + item.Id + '">' + item.GroupName + '</option>')
                    });
            },
            error: function () {
            }
           });
    }
</script>


}
}
