@page
@model LOVA.API.Pages.Files.UploadFileModel
@{
    ViewData["Title"] = "UploadFile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="row d-flex">
        <p>
            @if (Model.Message != null)
            {
            <div class="alert alert-success alert-dismissible fade show ml-auto" role="alert">
                @Model.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            }
        </p>
    </div>


    <div class="row mt-5">
        <div class="col-md-12 align-self-center">
            <div class="card w-50 mx-auto">
                <div class="card-header">
                    Importera dokument.
                </div>
                <div class="card-body mr-5 ml-5">
                    <form method="post">
                        <div class="row">
                            <div class="form-group col-12">
                                <label asp-for="FileUpload.UploadFileCategoryId">Välj förening/kategori</label>
                                @(Html.Kendo().DropDownList()
                        .Name("FileUpload.UploadFileCategoryId")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Välj")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .DataSource(source =>
                        {
                            source.Read(r =>
                            {
                                r.Url("/Files/UploadFile?handler=Association");
                            });
                        })

                    )
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label asp-for="FileUpload.UploadFileDirectoryId">Välj dokument typ</label>

                                @(Html.Kendo().DropDownList()
                        .Name("FileUpload.UploadFileDirectoryId")
                        .HtmlAttributes(new { style = "width:100%" })
                        .OptionLabel("Välj")
                        .DataTextField("CascadedName")
                        .DataValueField("CascadedId")
                        .DataSource(source =>
                        {
                            source.Read(r =>
                            {
                                r.Url("/Files/UploadFile?handler=Documents").Data("filterCategory");
                            })
                            .ServerFiltering(true);
                        })
                        .Enable(false)
                        .AutoBind(false)
                        .CascadeFrom("FileUpload_UploadFileCategoryId")

                    )
                            </div>
                        </div>
                        <div class="row">

                        </div>

                        <div class="row">
                            <div class="form-group col-12">
                                <label asp-for="FileUpload.FileName">Dokument namn</label>
                                @(Html.Kendo().Upload()
                                        .Name("files")
                                        .HtmlAttributes(new { style = "width:100%", aria_label = "files"})
                                        .Multiple(false)
                                        // .Events(events => events.Select("onSelect"))

                                     )
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">Spara</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

    </div>
</div>
@section Scripts {


    <script>

    function filterCategory() {
        return {
            categoryId: $("#FileUpload_UploadFileCategoryId").val()
        }
    }

    function onUpload(e) {
        e.data = {
            Id: $("#FileUpload_UploadFileCategoryId").val()
        };
    }

    function onSelect(e) {
        getFileInfo(e);
    }

    function getFileInfo(e) {
        var size = $.map(e.files, function (file) {
            Console.log(file);
            if (file.size > 0) {
                Console.log(Math.ceil(file.size));
                return Math.ceil(file.size);
            }
            return 0;
        });
    }




    </script>
}