@page
@model LOVA.API.Pages.Lova.WaterDrainReportModel
@{
    ViewData["Title"] = "WaterDrainReport";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()  





<div class="row">

</div>
<div class="row m-5">
    
    @(Html.Kendo().Grid<IssueReportViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id).Hidden(true);
            columns.Bound(p => p.WellName).Title("Brunn").Width(120);
            columns.Bound(p => p.ProblemDescription).Title("Problem");
            columns.Bound(p => p.SolutionDescription).Title("Åtgärd");
            columns.Bound(p => p.NewActivatorSerialNumber).Title("Serienr Aktivator").Width(150);
            columns.Bound(p => p.NewValveSerialNumber).Title("Serienr Ventil").Width(150);
            columns.Bound(p => p.CreatedAt).Title("Datum").Width(150).Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.ImageName).ClientTemplate(@"<div class='IssuePhoto' style='background-image: url(" + @Url.Content("https://lottingelundfiles.blob.core.windows.net/lovaphotos/#:data.ImageName#") + "'").Width(100);
        })
        .ToolBar(tools => tools.Excel())
        .Excel(excel => excel
          .FileName("Åtgärder.xlsx")
          .Filterable(true)
          .AllPages(true)
        )
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .HtmlAttributes(new { style = "height:750px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(LOVA.API.Services.MyConsts.PageSize)
            .Read(read => read.Url("/Lova/WaterDrainReport?handler=Read").Data("forgeryToken"))
            .Model( m =>
            {
                m.Id(id => id.Id);
            })
         )
)
</div>

<style>
    .IssuePhoto {
        display: inline-block;
        width: 48px;
        height: 32px;
        // border-radius: 90%;
        background-size: 48px 32px;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }


</style>


@section Scripts {

    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
   
<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }

</script>

}

