@page
@model LOVA.API.Pages.Lottingelund.BoardModel
@{
}


<div class="container mt-2">

    <!-- Example row of columns -->
    <div class="row">
        <img src="~/Images/Klubba.jpg" width="640" height="290" />
    </div>
    <div class="row">
        <address>
            <strong>Magnus Larzon</strong>, Kanslichef<br />
            Mobil: 0733-327515<br />
            E-mail: <a href="mailto:magnus.larzon@lottingelund.se">magnus.larzon@lottingelund.se</a>
        </address>
    </div>


    <div class="row">
        <address>
            <strong>Ronny Modig</strong>, Ordförande<br />
            Mobil: 0706-040610<br />
            E-mail: <a href="mailto:ronmod@gmail.com">ronmod@gmail.com</a>
        </address>
    </div>
    <div class="row">
        <address>
            <strong>Lilling Palmeklint</strong>, Ledamot, Kassör<br />
            Mobil:  070-6201310<br />
            E-mail: <a href="mailto:lilling@ownit.nu">lilling@ownit.nu</a>
        </address>
    </div>
    <div class="row">
        <address>
            <strong>Lars Sandgren</strong>, Ledamot, Bredband/Kabel-TV<br />
            Mobil: 0725-112013<br />
            E-mail: <a href="mailto:lasse@lottingelund.se">lasse@lottingelund.se</a>
        </address>
    </div>
    <div class="row">
        <address>
            <strong>Lennart Källqvist</strong>, Ledamot, Sekreterare & Väg<br />
            Mobil: 0762-067985<br />
            E-mail: <a href="mailto:l.kallqvist@lottingelund.se">l.kallqvist@lottingelund.se</a>
        </address>
    </div>
    <div class="row">
        <address>
            <strong>Johan Tempelman</strong>, Ledamot, VA<br />
            Mobil: 0734-435407<br />
            E-mail: <a href="mailto:johan@tempelman.nu">johan@tempelman.nu</a>
        </address>

    </div>
    <div class="row">
        <address>
            <strong>Christer Anrell</strong>, Suppleant<br />
            Mobil: 08-343131<br />
            E-mail: <a href="mailto:christer@christeranrell.se">christer@christeranrell.se</a>
        </address>
    </div>
    <div class="row">
        <address>
            <strong>Micke Vikström</strong>, Suppleant<br />
            Mobil: 0708-223315<br />
            E-mail: <a href="mailto:micke@lottingelund.se">micke@lottingelund.se</a>
        </address>
    </div>

</div>
<!-- /container -->
