@page
@model LOVA.API.Pages.Lottingelund.ErrorReportModel
@{
    ViewData["Title"] = "ErrorReport";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
@*<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Felanmälan
        </h1>

    </div>
</div>*@
<div class="container">

    <!-- Example row of columns -->
    <div class="row">

        <div class="mx-auto">
            <img src="~/Images/mobiltelefon.jpg" width="640" height="210" />
        </div>
        <div class="mt-3 offset-2 col-7">



            <h6>Elnätet</h6>

            <p>
                Vid strömavbrott till fastigheten ring Fortum 020-460000<br />
                Vid strömavbrott i huset kontakta elektriker (jourhavande elektriker)
            </p>

            <h6>Internet och bredbandstelefoni</h6>
            <p>OwnIT 08-525 07 300</p>

            <h6>Klotter</h6>
            <p>08-768 7000</p>

            <h6>Vatten och avlopp</h6>
            <p>Alltrac jour: 08-756 99 46</p>

            <h6>Vägbelysning</h6>
            <p>Gör felanmälan via https://service.taby.se/FFS alternativt via appen "Felanmälan Täy kommun"</p>

            <h6>TV</h6>
            <p>Telenor 020-222 222</p>
            <br />
            <br />
            <p>
                Anmäl fel inom Täby kommun med mobilen
                Med Täby kommuns Felanmälan-app kan du anmäla fel som t ex hål i gatan, klotter och trasig belysning inom Täby kommun direkt i mobilen. Med appen beskriver du felet och väljer plats i kartan genom GPS-positionering eller markering. Bifoga gärna en bild. Appen finns tillgänglig för plattformarna Android och Iphone och kan laddas ner kostnadsfritt från App Store och Google Play när du söker på ”Felanmälan Täby kommun”.
                <br /><br />
                Om du hittar fel som utgör fara eller risk för olycka ring 08-55 55 90 00 månd-torsd 08.00-16.30 och fredag 08.00-16.00
            </p>
        </div>


    </div>
</div>
<!-- /container -->
