@page
@model LOVA.API.Pages.Lottingelund.MoveModel
@{
}



<div class="container mt-2">
    <!-- Example row of columns -->
    <div class="row">

        <div class="mx-auto">
            <img src="~/Images/flytt.jpg" width="640" height="313" class="mx-auto d-block img-fluid" />
        </div>
    </div>
    <div class="row">
        <div class="mt-3 offset-2 col-7">



            <h5>Att tänka på vid flytt</h5>

            <h6>El</h6>

            <p>
                Tänk på att läsa av elmätaren. Nätleverantören (det fasta nätet) övertas av den som flyttar in. Elleverantören (rörlig el för uppvärmning och hushållsel) måste antingen sägas upp eller överlåtas på den som flyttar in i huset.
            </p>

            <h6>Vatten</h6>
            <p>
                Läs av mätarställningen och gör en avräkning med köparen. Meddela ny fastighetsägares namn, telefon och mail-adress till lilling@ownit.nu och magnus.larzon@lottingelund.se. Föreningen fakturerar alltid och enbart aktuell fastighetsägare.
            </p>

            <h6>VA-anslutning</h6>
            <p>
                Alla fastigheter inom Löttingelund är anslutna till Löttingelunds privata VA-system. Den som flyttar in i ett begagnat hus behöver inte tänka på något annat än att det finns en årlig fast avgift samt en rörlig avgift, baserad på vattenförbrukning, till VA-föreningen (se punkten ovan). För aktuell årsavgift hänvisas till senaste årsmötesprotokoll. Om det är frågan om nybyggnation bör man, i god tid innan bygget startar, kontakta Stefan Wassberg i styrelsen, stw@lottingelund.se, för att få reda på kostnaden för anslutning och var anslutning lämpligast sker. Kostnaden fastställs vid Löttingelunds årsmöten och redovisas i protokoll från dessa möten.
            </p>

            <h6>Vatten och avlopp</h6>
            <p>Alltrac jour: 08-756 99 46</p>

            <h6>Kabel-TV och Bredband</h6>
            <p>
                Om du ska flytta ut från området så kontaktar du Ownit/Telenor säger upp accessen och därmed också ansvaret för tjänsterna. OBS! Viktigt. Din TV-Box måste skickas tillbaka till Telenor då boxen är personlig. Nya ägaren till fastigheten får kontakta Telenor för att få en ny Box som då är registrerad på hen.
                <br />
                <br />
                Om du flyttar in i en fastighet som har fiber och tjänsterna finns i huset så kontaktar du först Löttingelundsföreningen och meddelar från och med när du flyttar in så vi kan fakturera från rätt datum, vi vill gärna ha en mailadress då vi skickar fakturorna via mail. Kontakta sedan kundtjänst nedan och meddela dem att du har flyttat in så tjänsterna står registrerade på rätt person m.m.
                <br />
                <br />
                Ownit Kundtjänst: 08-525 07 300  <a href="www.ownit.se">www.ownit.se</a><br />
                Telenor Kundtjänst: 020-222 222, <a href="https://www.telenor.se/handla/tv/fiber-tv/tv-bas/">www.telenor.se/handla/tv/fiber-tv/tv-bas/</a>

            </p>

           

            <h6>Avgifter till Löttingelundsföreningarna</h6>

            <p>
                Löttingelundsföreningarna består av tre föreningar; Tomt, VA och Väg. Det är obligatoriskt att vara medlem i dessa föreningar för boende i området. Unikt med området och dess föreningar är att vi förvaltar våra vägar i området samt vårt eget VA-system, kabel-TV nät och bredbandsnät (via fiber). För aktuella avgifter till respektive förening hänvisas till senaste årsmötesprotokoll. Kontakta styrelsen eller gå in på vår hemsida www.lottingelund.se för att få mer info om föreningarna.
            </p>

            <h6>Transporter till och från fastigheten</h6>

            <p>
                Våra vägar i området är relativt känsliga för tung trafik. Det är därför en begränsning av tung trafik till 6 ton. Om man överträder denna begränsning riskerar man att transporten blir stående utanför området och vägrar köra in. För att underlätta vid flytt till och från fastigheterna alternativt vid nybyggnation kan man ansöka om dispens för tung trafik. Transportföretaget undviker då att få böter om man skulle stoppas.
                <br />
                <br />
                Dispensen ger dock ingen begränsning avseende ansvar för att undvika skador på vägarna. Det är varje fastighetsägares ansvar att inte förstöra vägarna. Detta gäller alla typer av transporter på våra vägar, även under 6 ton. Skulle någon olycka hända med vägarna, eller att ni själva upptäcker skador; ta kontakt med Lennart Källkvist i styrelsen som också har hand om dispenser.
            </p>
            <h6>Hemsida</h6>
            <p>
                Löttingelundsföreningarnas hemsida hittar du på www.lottingelund.se.
            </p>

            <h6>Grannsamverkan</h6>
            <p>
                I området Löttingelund har vi en frivillig grannsamverkan mot inbrott och skadegörelse. Magnus Larzon är samordnare för området och har kontakt med Polisen och Trygg i Täby som vi samarbetar med. Täbypolisen ger ut ett veckobrev och med tips som man kan prenumerera på genom Magnus Larzon alternativt via Polisens FaceBook-sida.
            </p>

            <h6>Telefon</h6>

            <p>
                Beställ flyttning av din hemtelefon hos din telefonoperatör.
            </p>

            <h6>Försäkringar</h6>

            <p>
                Saknar du försäkring under flyttning så kan det få oanade konsekvenser om olyckan är framme. Se till att du har rätt försäkringsskydd i alla lägen.
                <br />
                Kolla med ditt bolag vad som gäller under din flytt.<br />
                Se till att du har försäkrat den nya bostaden innan du börjar flytta in<br />
                Du hittar mer information hos ditt försäkringsbolag.
            </p>

            <h6>Lån</h6>
            <p>
                I de allra flesta fall tar din fastighetsmäklare hand om detta när det gäller lösen av lån och övertagande av lån. Sedan tar du och köparen/säljaren kontakt med banken.
            </p>

            <h6>Flyttanmälan</h6>

            <p>
                Gör en flyttanmälan och eftersänd post. Detta kan du göra direkt på: www.adressandring.se. Denna adressändring skickas då automatiskt till kommunala förvaltningar och en del myndigheter såsom Försäkringskassan, Landsting, Skatteregistret m.fl.
                <br />
                <br />
                Tänk på att du själv måste meddela adressändringen till banken, facket, försäkringsbolag, föreningar m.fl.
            </p>

            <h6>Felanmälan</h6>

            <p>Se lista på hemsidan</p>

        </div>


    </div>

</div>
<!-- /container -->
