@page
@model LOVA.API.Pages.Lottingelund.SurveyIntroModel
@{
}

<div class="container mt-5" style="height:80vh;">
    <div class="offset-sm-2 col-sm-8">
        <div class="row mt-5">
            <h4>Enkät - Bakgrund</h4>
        </div>



        <div class="row mt-5">
            <p class="lh-sm">
                Löttingelundsföreningarna har sedan flera år arbetat för att få ett beslut från Täby kommun om att eventuellt ta över huvudmannaskapet i Löttingelund. Om ett sådant beslut skulle komma till stånd skulle föreningarnas medlemmar rösta om beslutet ska genomföras eller inte beroende på hur mycket Täby kommun beräknas ta in i extra avgifter från fastigheterna i området. Röstas det eventuella förslaget igenom kommer Täby kommun att debitera denna summa till respektive fastighetsägare och eventuellt kommer det att finnas olika betalningsalternativ som vi inte kan säga något bestämt om i dagsläget.
                Skulle det inte bli någon förändring av huvudmannaskapet i Löttingelund kommer verksamheten fortsättningsvis att bedrivas i våra tre föreningar VA, Tomt och Väg.

            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                Oavsett utgång i denna process om huvudmannaskapet kommer det inte att innebära några förändringar kortsiktigt på behovet att säkerställa driften på VA-systemet och skapa säkra vägar på ett kostnadseffektivt sätt de närmaste 3–5 åren.
            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                För att säkra en buffert fram till slutet av 2022 har föreningarna tagit upp lån på drygt 1 MSEK av fastighetsägarna i Löttingelund.
            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                Under årsmötet i maj 2021 diskuterades finansiering av den fortsatta verksamheten de närmaste åren och på vilket sätt fastighetsägarna lämpligast kan bidra med finansieringen. Styrelsen har därför tagit ett beslut att genomföra en enkät för att få mer information även från de som inte var med på årsmötet.
            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                I vissa svar anges ombildande till samfällighet som en komponent för att kunna låna pengar externt. Det är en process som kan ta en del tid, inte garanterar att det blir enklare att låna och tillkommer en del kostnader/avgifter för ombildningen.
            </p>
        </div>

        <div class="row">
            <p class="lh-sm">
                Undersökningen genomförs anonymt och vi kommer inte att lagra några uppgifter som kopplas till någon enskild individ eller fastighet.
            </p>
        </div>
        <div class="row mt-5">
            <a class="btn btn-primary" href="/Lottingelund/Survey" role="button">Till enkäten</a>
        </div>
    </div>

</div>
