@page
@model LOVA.API.Pages.Lottingelund.SurveyAnsweredModel
@{
}
<div class="container">
    <div class="row" style="height:80vh;">
        <div class="card border-success m-5 mx-auto my-auto text-center" style="max-width: 40rem;min-height:10rem;">
            <div class="card-body d-flex align-items-center justify-content-center">
                <h2>Ni har redan svarat på enkäten.</h2>
            </div>
        </div>

    </div>



</div>
