@page
@model LOVA.API.Pages.Aktuellt.DefibrillatorModel
@{
    ViewData["Title"] = "Hjärtstartare";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h2 class="display-5 fw-bold text-center">Hjärtstartare</h2>       
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="offset-1 col-md-10">


        <div class="row">
            <img src="~/Images/Hjartstart3.jpg" width="640" height="282" class="mx-auto d-block img-fluid" />
        </div>
        <div class="row mt-3">
            <p>
                Det finns en hjärtstartare tillgänglig i Löttingelund vid Fröjel Strings AB på Varggropsvägen 1-3. Hjärtstartaren finns placerad i det olåsta skåpet på fastighetens baksida och är tillgänglig dygnet runt.
            </p>
        </div>

    </div>

</div>