@page
@model LOVA.API.Pages.Aktuellt.DogsModel
@{
    ViewData["Title"] = "Hundar";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h2 class="display-5 fw-bold text-center">Hundar</h2>       
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="offset-1 col-md-10">


        <div class="row">
            <img src="~/Images/hundar.jpg" width="420" height="150" class="mx-auto d-block img-fluid" />
        </div>
        <div class="row mt-3">
            <p>
                I Täby och Vaxholm ska hundar hållas kopplade på offentliga platser.
                </p>
                <p>
I skog och mark där det finns vilt ska du alltid hålla hunden under särskild tillsyn. Här gäller jaktlagstiftningen. Under tiden 1 mars till 20 augusti får hunden inte vara lös där det kan finnas vilt. Under resten av året ska hunden hindras från att driva eller förfölja vilt. En hund utan koppel ska omedelbart lyda vid tillrop och uppföra sig som om den var kopplad. När hunden inte är kopplad måste den ha halsband på sig med ägarens namn, adress och telefonnummer.
Läs mer på Hund - <a href="http://www2.taby.se/SRMH/Invanare/Djur/Hund/">Täby kommun (taby.se)</a>
Låt oss alla hjälpas åt att skydda våra fina vilda djur som vi har här i vår närhet runt Löttingelund. Det är en stor förmån att kunna leva så nära naturen.  Håll hundarna kopplade, just nu har vi många rådjurs-kid på åkern.

            </p>
        </div>

    </div>

</div>
