@page
@model LOVA.API.Pages.Aktuellt.EnviromentFunnelModel
@{
    ViewData["Title"] = "Miljötratt";
}


<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h2 class="display-5 fw-bold text-center">Häll ut ditt fett på rätt sätt</h2>       
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="offset-1 col-md-10">


        <div class="row">
            <img src="~/Images/miljotratt.jpg" width="640" height="320" class="mx-auto d-block img-fluid" />
        </div>
        <div class="row mt-3">
            Löttingelunds VA-förening jobbar kontinuerligt med att göra underhåll och service så effektivt och kostnadsbesparande för våra medlemmar som mjligt. En försvårande omständighet som gör underhållet mer kompierat och skapar en hel del problem är fettansamlingar i intagsenheterna.
            <br />
            <br />
            Mat- och frityrfett som hälls ut i avloppet stelnar och byggs på i flera lager tills det bildas stora fettprppar. Propparna täpper till lednngarna och orsakar stopp och översvämningar.
            <br />
            <br />
            Nu kan du göra skillnad genom att använda en miljötratt för insamling av hushållsfettet.  <a href="https://www.sorab.se/aktuellt/nyheter/e/3/undvik-fettpropp-i-avloppet-anvand-miljotratt/">Här </a> kan du läsa mer och även beställa en miljötratt kostnadsfritt direkt från SÖRAB.
        </div>

    </div>

</div>

<!-- /container -->