@page
@model LOVA.API.Pages.Aktuellt.GraffitiModel
@{
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 text-center text-truncate">
            Anmäl klotter
        </h1>

    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/Klotter2.jpg" width="640" height="282" class="mx-auto d-block img-fluid"/>
        </div>
        <div class="row mt-3">
            Ser du klotter någonstans i vårt område är vi tacksamma om du anmäler det på
            <br />
            <br />
        </div>
        <div class="row mt-1">
            <a href="mailto:klotter@lottingelund.se">klotter@lottingelund.se</a>
        </div>
    </div>


</div>

