@page
@model LOVA.API.Pages.Aktuellt.GraffitiModel
@{
    ViewData["Title"] = "Klotter";
}


<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h2 class="display-5 fw-bold text-center">Anmäl klotter</h2>       
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/Klotter2.jpg" width="640" height="282" class="mx-auto d-block img-fluid"/>
        </div>
        <div class="row mt-3">
            Ser du klotter någonstans i vårt område är vi tacksamma om du anmäler det på
            <br />
            <br />
        </div>
        <div class="row mt-1">
            <a href="mailto:klotter@lottingelund.se">klotter@lottingelund.se</a>
        </div>
    </div>


</div>

