@page
@model LOVA.API.Pages.Aktuellt.WaterShortageModel
@{
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 text-center">
            Vattenbrist
        </h1>

    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="offset-1 col-md-10">


        <div class="row">
            <img src="~/Images/vattenspridare.jpg" width="640" height="320" class="mx-auto d-block" />
        </div>
        <div class="row mt-3">
            <p>
                När det är värmebölja behöver vi hjälpas åt att använda vattnet smart för att undvika onödig förbrukning.
            </p>
        </div>


        <div class="row">

            <b>Några tips:</b><br />
            <ul>
                <li>Undvik att vattna gräsmattan. Måste den vattnas, gör det på kvällen.</li>
                <li>Tvätta inte bilen.</li>
                <li>Duscha istället för att bada.</li>
                <li>Stäng av vattnet när du borstar tänderna.</li>
                <li>Kör fulla disk- och tvättmaskiner.</li>
                <li>Ställ en fylld tillbringare med vatten i kylen så slipper du låta kranen rinna för att vattnet skall bli kallt.</li>
            </ul>
        </div>
        <div class="row">

            <b>Kort fakta:</b><br />
            <ul>
                <li>En vattenspridare gör av med 150 liter vatten på 20 minuter.</li>
                <li>För varje minut kranen står och rinner går det åt 6 liter vatten.</li>
                <li>Ett fyllt badkar motsvarar ca 150 liter vatten.</li>
                <li>Det går åt 50 liter vatten för en maskintvätt.</li>
                <li>Om en familj på fyra personer stänger av kranen medan de borstar sina tänder sparar de tillsammans 100 liter vatten på en dag.</li>
            </ul>
        </div>
    </div>

</div>

<!-- /container -->