@page
@model LOVA.API.Pages.Villa.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container">

        <div class="row">
            Villaföreningen består av tre föreningar; Tomtföreningen, Vatten och avloppföreningen och Vägföreningen. Det är obligatoriskt att vara medlem i dessa föreningar för boende i området. Unikt med området och dess föreningar är att vi förvaltar våra vägar i området samt vårt eget VA-system, kabel-TV nät och bredbandsnät. Detta gör att vi kan styra våra pengar dit de behövs bäst utan att behöva ta några andra hänsyn än våra medlemmars bästa.
            <br /><br />
        </div>
        <div class="row">
            <div class="mx-auto">
                <img src="~/Images/Klubba.jpg" />
            </div>
            <br /><br />
        </div>
        <div class="row">
            <h5>Tomtföreningen</h5>
            Tomtföreningens uppgift är att tillvarata fastighetsägarnas i Löttingelund tomtområde, gemensamma intressen beträffande skötsel av parkmark, bryggor och båtplatser, samt andra gemensamma intressen för medlemmarnas och samhällets nytta och trevnad.
            <br />
            Årsavgift 700 kr/medlem.
            Båtplatsavgift 400 kr/plats – nyckeldeposition 400 kr (just nu inte aktiv pga anläggning av nya bryggor)
            Bredbandsavgift + Kabel TV 209 kr/månad
            endast Kabel-TV avgift 100 kr/månad
            Anslutningsavgift Fibernät om det ej är indraget i huset redan 31 250 kr. Annars ingen kostnad.
            <br /><br />
        </div>
        <div class="row">
            <h5>Vägföreningen</h5>
            Vägföreningens uppgift är att svara för drift och underhåll av samtliga vägar inom Löttingelundomrdet. Löttinglunds- och Löttinelundsvägen har Vägverket ansvar för. Skavlötensvägen samt delar av Löttingelundsvägen har Täy kommun ansvar för.
            <br />
            Vi sköter förstås snöröjningen själva vilket har samma inverkan på trivseln. Om du inte orkar eller kan röja din garageuppfart kan du ringa till den som röjer snön och be honom att ta bort din snö också.
            <br />
            Årsavgift 1300 kr
            <br /><br />
        </div>
        <div class="row">
            <h5>VA-föreningen</h5>
            VA-föreningens uppgift är att sköta vårt gemensamma vatten- och avloppssystem. Alla fastigheter inom Löttingelund är anslutna till Löttingelunds privata VA-system. I området finns 142 brunnar som töms 50 ggr/dygn. Vattenförbrukningen i området är 42.000 kbm per år. Vi bidrar med i genomsnitt 550 liter till avloppssystemet per dygn per hushåll. Vi har 6,5 km VA kulvert i området varav ca 6 km eluppvärmd.
            <br />
            Det vatten vi använder oss av i området köper vi av Norrvatten, vilket är samma vatten som de flesta använder sig av i stockholmsområdet. Vårt vatten är för övrigt bland det billigaste i Stor-Stockholm trots att vi ”bara” försörjer cirka 250 fastigheter. Vattnet kommer in till vårt pumphus nere vid Rönningesjön och pumpas vidare ut till fastigheterna. I vår tur tar vi in avloppet från alla fastigheter via intagsenheterna och vidare till pumphuset. Därefter pumpar vi iväg avloppet i vår egna 1300 meter långa ledning under Rönningesjön ända bort till Arninge. Där tar kommunen vid och skickar avloppet vidare för rening vid Käppalaverken i Lidingö.
            <br />
            Servisavgift per fastighet avseende obligatorisk anslutningspunkt för VA om 128.776 kr.
            Avgift för lägenhet om 44.189 kr (enskild fastighet skall lägga samman beloppen från punkt 1 och 2 för att erhålla årets anslutningsavgift = 172.965 kr) Avgift för anslutning av Attefallshus är 50% av avgiften för lägenhet i pnkt 2 ovan.
            Tappvatten med totalt 22,50 kr/kbm levererat vatten. Avloppsvatten utöver debiterat tappvatten debiteras med 11,70 kr/kbm. (jmf Täby kommun 18,75 kr/kbm + 1556,25 kr/år i fasta avgifter
            Extra mätställe (mätställe utöver ett per fastighet) skall erläggas en årlig avgift med 300 kr
            Rensningsavgift om 950 kr per brunnsrensning.
            Medlemsavgift per år för vatten och avlopp är 1.300 kr.
            Medlemsavgift per år för endast avlopp är 3.400 kr.
        </div>
    </div>

