@page
@model LOVA.API.Pages.About.AntiquitiesModel
@{
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Fornlämningar
        </h1>
    </div>
</div>
<div class="container">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/domarring.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                Där Domarringsvägen korsar Löttingelundsvägen finns en domarring, som är en forntida gravanläggning som kom i bruk under slutet av bronsåldern. Domarringen är en typ av stenkrets där resta eller liggande stenar, udda till antalet, är glest placerade så att en cirkelform bildas. Namnet domarring kan härledas till medeltiden, då domarringen var en sorts tingsplats där man fattade rättsliga beslut. På varje sten satt en utvald domare och i och med det udda antalet stenar kunde en dom aldrig bli oavgjord. och en domarring.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/lottingekullen.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                Löttingekullen är med sina 58 m Täbys högsta punkt. På Löttingekullen blåser historiens vingslag. Stenröset är från bronsåldern och 3000 år gammalt.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/varggrop.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                I hörnet av Varggropsvägen och Roslagsvägen i Täby kan du se en fångstgrop från 1600-talet. Varggropen är fyrkantig med kallmurade sidor, ca 3 meter djup och plan botten. Runt gropen finns en jordvall ca ½ meter hög. Gropen täcktes med ris, samt hade lockbete på en påle i mitten. Varg och räv fångades på detta sätt.
            </p>
        </div>

    </div>
</div>