@page
@model LOVA.API.Pages.About.AreaModel
@{
}


<div class="container mt-2">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/runstenar.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                Löttingelunds omgivning består av en mosaik av olika sorters naturtyper. Dels finns de strövvänliga skogarna och naturparkerna. Dels finns de öppna ängsmarkerna, vilka genom slåtter och landskapsvårdande åtgärder utvecklats till artrika miljöer med blommor och fjärilar. Nästan överallt, i och kring dessa olika naturområden och miljöer finns fornminnesområdena.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Ronningesjon2520255b1255d.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                Löttingelund ligger invid Rönningesjön som är mycket värdefull ur rekreationssynpunkt. Här erbjuds en mängd fritidsaktiviteter som bad, promenadvägar i vacker natur med kaffestuga i såväl Skavlöten som Rönninge by. På båda platserna finns ”Gröna entréer” där man kan läsa om områdets motionsspår. Runt sjön är det ca 6 km och en mycket populär promenadväg.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/DSC_5886.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                Gullsjön är en liten näringsrik och grund skogssjö med riklig vattenvegetation, vackert belägen. Sjöytan är 0.04 km2, maxdjupet 2, 8 m medeldjup 2 m. Vid Gullsjöns södra strand finns en trevlig grillplats öppen för allmänheten.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/imgres-61.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                Naturbetesmarkerna norr om sjön, Täby Prästgård och Skogberga, är av riksintresse för såväl naturvård som kulturmiljö och klassade som Natura 2000-område. Här finns de ovanliga arterna finnögontröst och fältgentiana och stora bestånd av backsippa.
            </p>
        </div>
    </div>
</div>