@page
@model LOVA.API.Pages.About.BicycleModel
@{
    ViewData["Title"] = "Bicycle";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <!-- Example row of columns -->
    <div class="row">

        <div class="mx-auto">
            <img src="~/Images/cykelvagar_1.jpg" width="600" height="250" />
        </div>
        <p class="mt-3">
            Här följer några förslag på utmärkta cykelturer med Löttingelund som utgångspunkt:<br/><br />

            Rönningesjön runt (ca 10 km): Skavlötens friluftsgård - Rönninge by – Ängsholmsbadet.<br /><br />

            Rydboturen (ca 20 km): Löttingelund - Hägerneholm - Ullna - Rydbo - Östra Ryds kyrka - Rydboholm - Fågelnäs - Norrängen - Sandviken - Nya Vaxholmsvägen - Hägernäs - Viggbyholm - Ensta Krog.<br /><br />

            Gävsjöturen (ca 23 km): Löttingelund – Vågsjö – Ullnasjön – Lövsättra – Gävsjön – Byle – Kyrkbyn – Efraimsberg – Stolpaskogen – Ensta Krog – Gribbylund.<br /><br />

            Vallentunasjön runt (ca 31 km): Löttingelund – Skogsberga – Fågelsången – L.Gävsjö – Kristineberg - Vallentuna – Sursta – Gällsta – Lövsund – Smedby – mot Fresta – Hagbylund – Hagby – Valla gård - Kristineberg - Ensta Krog – Gribbylund.
        </p>


    </div>
    <hr>
</div>
<!-- /container -->
