@page
@model LOVA.API.Pages.About.ExerciseModel
@{
    ViewData["Title"] = "Motion";
}


<div class="container mt-2">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/motionsspar.jpg" width="640" height="320" class="img-fluid" />
        </div>

        <div class="row mt-3">
            <p>
                Det finns 10 mil motionsspår i direkt anslutning till Löttingelund. Vid Skavlöten och Ensta Krog, där många av spåren utgår ifrån, är flera av spåren elbelysta fram till kl 22.00. Här finns också möjlighet till dusch och bastu, samt servering. Utöver dessa mycket fint preparerade motionsspår finns också stigen runt Rönningesjön som ett 6 km långt och mycket populärt område för promenader och löpträning.


                <br />
                <br />
                Vintertid prepareras skidspår på de slingor som är 2,5, 5 och 10 km långa. Dessutom anläggs det skidspår på de många golfbanorna som finns i närområdet. Vid Jarla Banke golbana, finns exempelvis ett konstsnöspår där bland annat det Svenska Skidlandslaget vid flera tillfällen varit och tränat inför den årligen återkommande Slottssprinten i Stockholm. Då isen lagt sig på Rönningesjön plogas också skridskobana runt sjön och om snötillgången tillåter prepareras även skidspår på sjön.
            </p>
        </div>
    </div>
</div>