@page
@model LOVA.API.Pages.About.FishingModel
@{
    ViewData["Title"] = "Fishing";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container mt-2">
    <!-- Example row of columns -->
    <div class="row">

        <div class="mx-auto">
            <img src="~/Images/gadda.png" width="600" height="250" />
        </div>
        <p class="mt-3">
            Det finns gott om fiskevatten i och i närheten av Löttingelund. Förutom  Gullsjön och Rönningesjön, finns Ullnasjön, Käringsjön, Mörtsjön och Ullnabäcken inom bekvämt avstånd. Dessutom finns Stora Värtan bara knappt 10 minuter från Löttingelund.
            <br /><br />
            För att fiska behöver man Spotfiskarnas Stockholmsdistrikts ”Sportfiskekort” som dessutom gäller i ytterligare närmare 40 sjöar i länet. Kortet kostar 250 kr per kalenderår och gäller för hela familjen. Man kan också köpa dagskort för 50 kr. Ungdomar upp till 16 år fiskar gratis med Juniorfiskekortet.
            <br /><br />
            Korten kan köpas i Sportfiskeboden, Hamnvägen 1 B i Viggbyholms båthamn, tel 08-756 60 88, eller på www.sportfiskarna.se
        </p>


    </div>
    <hr>
</div>
<!-- /container -->
