@page
@model LOVA.API.Pages.About.HistoryModel
@{
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Områdets Historia
        </h1> 
    </div>
</div>
<div class="container">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/lottinge_gard-1.jpg" width="640" height="320" />
        </div>
        <div class="row mt-5">
            <p>
                Namnet Löttingelund är hämtat från Löttinge gård som är belägen ett hundratal meter ifrån den övriga bebyggelsen. Löttinge gård omnämns sedan 1700-talet och var en av de stora gårdarna som innan järnvägens tillkomst, dominerade Täby. Under gården fanns även en mindre fastighet under namnet Löttingelund, belägen i lövträdslunden vid nuvarande Löttingelundsskolan.


                <br />
                <br />

                Redan före andra världskriget hade dåvarande ägaren till Löttinge gård, J.P. Evén, låtit stycka av ett området till tomter. Avstyckningen omfattade i stort sett nuvarande Löttingelund. I anslutning till krigsslutet sålde dock Evén hela området till Stockholms Läns Egnahems AB, som genast satte igång med att iordningställa området och med att sälja av tomterna. Antalet tomter var då ca 150 och storleken varierade mellan 1500 m2 och 4400 m2. Priset var 1 kr – 1:50 kr/m2. Man lockade med närheten till naturen, läget vid Rönningesjön och goda kommunikationer. Restiden angavs till ca 30 min från Stockholm till en kostnad av 87 öre, enkel resa.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/villa1.jpg" width="640" height="320" />
        </div>
        <div class="row mt-5">
            <p>
                På 1970-talet började tomterna bli alltmer attraktiva som villatomter. Någon stadsplan fanns dock inte över Löttingelund och därför fanns ingen möjlighet att få bygga för permanentboende. Någon förtur för området var heller inte att tänka på. Istället fick den starka grannföreningen efter enträgna förhandlingar med kommunen, tillstånd att själva anlägga en VA-anläggning i området och byggnadsförbudet hävdes. Idag har många av de största tomterna styckats av och antalet tomter är nu upp emot 250 och med något undantag bebyggda med villor för permanentboende.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/vattenskidor.jpg" width="640" height="320" />
        </div>

        <div class="row mt-5">
            Rönningesjön har alltid haft en central betydelse för Löttingelund. Idag är det förbjudet att ha motorbåt i sjön, men på 60-talet använde bland annat Sven Tumba Rönningesjön som träningsområde för TumbasVattenskidshow.
        </div>

    </div>
</div>