@page
@model LOVA.API.Pages.About.LottingelundModel
@{
}
<div class="container mt-2">
    <div class="row">
        <div class="row mx-auto">
            <img src="~/Images/fastighet.jpg" width="620" height="413" />
        </div>
        <div class="row offset-2 col-8 mt-3">
            <p>
                Löttingelund är ursprungligen ett sommarstugeområde som utvecklats till ett litet villasamhälle med ca 230 villafastigheter. Den vackra och djurrika miljön runt Löttingelund präglar området och kommer att, enligt Täby Kommuns stadsplan, bevaras som grönområden.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="row mx-auto">
            <img src="~/Images/022.jpg" width="620" height="413" />
        </div>
        <div class="row offset-2 col-8 mt-3">
            <p>
                Löttingelund ligger vackert beläget vid Rönningesjön, som ger unika möjligheter till bad och motion, bland annat vid motionsanläggningen Skavlöten.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="row mx-auto">
            <img src="~/Images/sopys.jpg" width="620" height="413" />
        </div>
        <div class="row offset-2 col-8 mt-3">
            <p>
                Runt Rönningesjön finns en 6,5 km lång vandrings- och löpstig som passerar Rönningeby, en levande kulturgård med djurhållning öppen för allmänheten till stor förtjusningen inte minst för barnen.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="row mx-auto">
            <img src="~/Images/Domarringen1.jpg" width="620" height="413" />
        </div>
        <div class="row offset-2 col-8 mt-3">
            <p>
                Löttingelund har även betydelse ur ett historiskt perspektiv, eftersom det här finns många fornlämningar bevarade.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="row mx-auto">
            <img src="~/Images/joggingspar.jpg" width="620" height="413" />
        </div>
        <div class="row offset-2 col-8 mt-3">
            <p>
                Här finns alla tänkbara möjligheter till rekreation och motion, Här finns mer än 10 mil motionsspr, vandringsleder och cykelvägar. Här finns flera badplatser, flera golfbanor och ridskola.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="row mx-auto">
            <img src="~/Images/taby_centrum.jpg" width="620" height="413" />
        </div>
        <div class="row offset-2 col-8 mt-3">
            <p>
                Från Löttingelund är det fem minuters bilväg till Täby Centrum, ett av sveriges modernaste köpcentra med över 270 butiker, restauranger och cafeer. Här finns även all tänkbar service i form av läkarmottagningar, apotek, kemtvätt, Systembolag mm.
            </p>
            <p>
                Åker man norrut med bil tar det bara några minuter från Löttingelund till Arninge Centrum. Här finns förutom ett stort butiksutbud, flera stora byggvaruhus, flera stora livsmedelsbutiker, systembolag, Apotek och till barnens stora förtjusning, Leos lekland.
            </p>
        </div>
    </div>

</div>
