@page
@model LOVA.API.Pages.About.MapModel
@{
}


<div class="container">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/karta_ny.jpg" width="640" height="320" />
        </div>
    </div>
</div>
