@page
@model LOVA.API.Pages.About.NeighbourhoodWatchModel
@{
    ViewData["Title"] = "NeighbourhoodWatch";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="mx-auto">
            <img src="~/Images/samverkanmotbrott-logga.jpg" width="600" height="300" />
        </div>       
    </div>
    <div class="row mt-5">
        <p>
            Grannsamverkan är en beprövad metod som visat sig fungera brottsförebyggande. Kort går de ut på att vi alla hjälps åt att hålla koll på varandras hus och att vi är extra uppmärksamma på vad som händer i området. Vid pågående brott skall du alltid ringa 112. Om du ser något som kan ha samband med brott, ringer du istället 114 14.
        </p>
    </div>
    <div class="row mt-2">
        <p>
            Givetvis vill vi att alla som bor i Löttingelund skall vara med i Grannsamverkan och om du ännu inte redan är med, anmäler du dig till magnus.larzon@lottingelund.se Det är givetvis gratis och innebär bland annat att du varje vecka får en rapport från närpolisen om aktuella händelser under veckan som gått. Det är nyttig läsning och ger bl a en bra uppfattning om vilka inbrottsmetoder som är vanligast. Information som vi alla kan ha nytta av för att göra Löttingelund till ett tryggt område att bo i.
        </p>
    </div>
    <div class="row mt-2">
        <h5>Tips på vad du kan göra för att förebygga inbrott </h5>
    </div>
    <div class="row-mt-3">
        <ul>
            <li style="text-align: left;">Bra lås och larm gör det svårt för tjuven.</li>
            <li style="text-align: left;">Berätta inte på Facebook att du är bortrest.</li>
            <li style="text-align: left;">Arrangera med timer så att lampor tänds och släcks.</li>
            <li style="text-align: left;">Låt en radio gå på med timer så att det hörs ljud i huset.</li>
            <li style="text-align: left;">Ha gärna utomhusbelysning som tänds med rörelsevakt vid entré- och altandörrar.</li>
            <li style="text-align: left;">Peta ner post när du ser att post hänger ut ur någon grannes brevlåda.</li>
            <li style="text-align: left;">Be någon skotta efter snöfall.</li>
            <li style="text-align: left;">Ordna så att någon klipper gräsmattan om du är borta en längre period.</li>
            <li style="text-align: left;">Be en granne lägga sopor även i din soptunna så att den inte står helt tom.</li>
            <li style="text-align: left;">Be grannen parkera sin bil på din tomt då och då när du är bortrest.</li>
            <li style="text-align: left;">Städa tomten från föremål som kan användas för att krossa fönster eller bryta sig in med.</li>
            <li style="text-align: left;">Förvara stegar fastlåsta, eller inomhus, så att de inte kan användas.</li>
            <li style="text-align: left;">Lämna gärna lite leksaker eller andra förmål på tomten.</li>
            <li style="text-align: left;">Lämna lite disk på köksbänken om den kan ses utifrån.</li>
            <li style="text-align: left;">Vidarekoppla telefonen, så att någon alltid svarar.</li>
        </ul>
    </div>
</div>

