@page
@model LOVA.API.Pages.About.PublicTransportModel
@{
    ViewData["Title"] = "SL";
}



<div class="container mt-2">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/busslink-keolis_volvo_b9sale_s_8500lea.jpg" width="640" height="320" class="img-fluid" />
        </div>
    </div>
    <div class="row mt-3">
        <p>
            Kollektivtrafiken är uppbyggd med bussförbindelse till Täby Centrum, Danderyds Sjukhus, Vallentuna och Upplands Väsby. Från Täby Centrum finns anslutning till Roslagsbanan som tar oss in till Östra Station i Stockholm på 25 minuter
        </p>
    </div>
</div>