@page
@model LOVA.API.Pages.About.RonningByModel
@{
}


<div class="container">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/ronningeby_2.jpg" width="640" height="320" />
        </div>

        <div class="row mt-3">
            <p>
                Rönninge by vid Rönningesjöns östra strand är en levande by. Idag drivs Rönninge by som ett visningsjordbruk med boskapsskötsel och olika binäringar. Här kan du se hur vardagen gestaltade sig för 100 år sedan. Djuren består framför allt av svenska lantraser som gotlandsruss och svensk kullig boskap. Här finns Täbys sista ladugård med får, getter, grisar höns och kaniner. Återkommande evenemang på Rönninge by är Musikskolans dag, midsommarfirande, stora byfesten och julmarknad.

                <br />
                <br />


                I byn finns såväl Hembygdsmuseum som Slöjdbod. Servering finns i kaffestugan och under vinterhalvåret står grillstugan nere vid bryggan öppen för allmänheten. Här kan man grillar medhavd korv över öppen eld.
            </p>
        </div>

        <div class="row">
            <img src="~/Images/caesar_hast.jpg" width="640" height="320" />
        </div>

    </div>
</div>