@page
@model LOVA.API.Pages.About.RoslagsledenModel
@{
}

<div class="container mt-2">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/roslags1.jpg" width="640" height="320" class="img-fluid" />
        </div>

        <div class="row mt-3">
            <p>
                Roslagsleden är en del av Europavandringsleden E6 och sträcker sig från Danderyd till Norrtälje. En sträcka på 19 mil. Roslagsleden passerar Löttingelund där stigen går förbi mycket natursköna och fågelrika miljöer. Efter Gullsjön går leden upp över Löttingekullen, som med sina 58 m är Täbys högsta naturliga punkt. På Löttingekullen finns ett bronsåldersröse som vittnar om att den närbelägna Löttinge gård tillhör de äldsta gårdarna i Täby. Ett större järnåldersfält i närheten av gården ger ytterligare belägg för detta.
            </p>
        </div>

        <div class="row">
            <img src="~/Images/20100501-DSCN08515.jpg" width="640" height="320" class="img-fluid" />
        </div>
        <div class="row mt-3">
            <p>
                Från Löttinge gård går Roslagsleden genom ett stort och relativt orört skogsområde fram till Angarn. Strax innan leden viker av från motionsstigen från Skavlötens friluftsgård, passeras Fågelsångsmossen, som anses vara en av Stockholmstraktens bäst utvecklade högmossar.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/imgres-60.jpg" width="640" height="320" class="img-fluid" />
        </div>
        <div class="row mt-3">
            <p>
                Angarnssjöängen betraktas som länets finaste fågelsjö och ett 25-tal arter häckar i sjön och ett 75-tal i områdena kring den. Århundraden av landhöjning, igenväxning och torrläggningsförsök har förvandlat den forna havsviken till en vassbevuxen sankmark och är därmed bra för fågellivet. Ett torn för fågelskådning finns efter leden.
            </p>
        </div>

    </div>
</div>