@page
@model LOVA.API.Pages.About.SchoolModel
@{
    ViewData["Title"] = "Barnomsorg";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h2 class="display-5 fw-bold text-center">Skola och barnomsorg</h2>
    </div>
</div>


<div class="container mt-2">
    <!-- Example row of columns -->
    <div class="row">

        <div class="mx-auto">
            <img src="~/Images/imgres-34.jpg" width="320" height="240" class="mx-auto d-block img-fluid" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="offset-4 col-md-4">
            <p>
                <ul>
                    <li>Täby Friskola Gribbylund</li>
                    <li>Täby Friskola Ullna Strand</li>
                    <li>Hägerneholmsskolan</li>
                </ul>
            </p>
        </div>



    </div>

</div>
<!-- /container -->
