@page
@model LOVA.API.Pages.About.SchoolModel
@{
}


<div class="container mt-2">
    <!-- Example row of columns -->
    <div class="row">

        <div class="mx-auto">
            <img src="~/Images/imgres-34.jpg" width="640" height="478" />
        </div>
        
        <p>
            <ul>
                <li>Täby Friskola Gribbylund</li>
                <li>Täby Friskola Ullna Strand</li>
                <li>Hägerneholmsskolan</li>
            </ul>
        </p>


    </div>
    <hr>
</div>
<!-- /container -->
