@page
@model LOVA.API.Pages.About.SchoolModel
@{
}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Från Löttingelund är det nära till flera olika skolor.
        </h1>

    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">

        <div class="mx-auto">
            <img src="~/Images/1gadda.png" width="600" height="250" />
        </div>
        
        <p>
            <ul>
                <li>Täby Friskola Gribbylund</li>
                <li>Täby Friskola Ullna Strand</li>
                <li>Hägerneholmsskolan</li>
            </ul>
        </p>


    </div>
    <hr>
</div>
<!-- /container -->
