@page
@model LOVA.API.Pages.User.ProfileEditModel
@{
}

<script>
    //Custom validation script for the RequiredIfTrue validator
/*
 * Note that, jQuery validation registers its rules before the DOM is loaded. 
 * If you try to register your adapter after the DOM is loaded, your rules will
 * not be processed. So wrap it in a self-executing function.
 * */
(function ($) {

    var $jQval = $.validator;

   $jQval.addMethod("requirediftrue",
       function (value, element, parameters) {
            return value !== "" && value != null;
        }
    );

    var adapters = $jQval.unobtrusive.adapters;
    adapters.addBool('requirediftrue');

})(jQuery);
</Script>


<div class="container mt-5" style="height:80vh;">
    <div class="row">
        <h4>Uppdatera</h4>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Contact.Id" />
                <input type="hidden" asp-for="Contact.PremiseId" />
                <input type="hidden" asp-for="Contact.IsDeleted" />
                <div class="form-group">
                    <label asp-for="Contact.FirstName" class="control-label">Titel</label>
                    <input asp-for="Contact.FirstName" class="form-control" />
                    <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.LastName" class="control-label">Meddelande</label>
                    <input asp-for="Contact.LastName" class="form-control" />
                    <span asp-validation-for="Contact.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.Email" class="control-label"></label>
                    <input asp-for="Contact.Email" class="form-control" />
                    <span asp-validation-for="Contact.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.MobileNumber" class="control-label"></label>
                    <input asp-for="Contact.MobileNumber" class="form-control" />
                    <span asp-validation-for="Contact.MobileNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.PhoneNumber" class="control-label"></label>
                    <input asp-for="Contact.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
                </div>
@*                 <div class="form-group mt-2">
                    <input type="checkbox" asp-for="Contact.IsActive" class="form-check-input"/>
                    <label asp-for="Contact.IsActive" class="form-check-label">Aktiv medlem</label>
                </div> *@
@*                 <div class="form-group mt-2">
                    <input type="checkbox" asp-for="Contact.WantGrannsamverkanEmail" class="form-check-input"/>
                    <label asp-for="Contact.WantGrannsamverkanEmail" class="form-check-label">Utskick Grannsamverkan?</label>
                </div> *@
                <div class="form-group mt-2">
                    <input type="checkbox" asp-for="Contact.WantInfoEmail" class="form-check-input"/>
                    <label asp-for="Contact.WantInfoEmail" class="form-check-label">Utskick E-post?</label>
                </div>
                <div class="form-group mt-2">
                    <input type="checkbox" asp-for="Contact.WantInfoSMS" class="form-check-input"/>
                    <label asp-for="Contact.WantInfoSMS" class="form-check-label">Utskick SMS?</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Spara" class="btn btn-primary mt-3" />
                </div>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div>
        <a asp-page="./ProfileIndex">Tillbaka till listan</a>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}



}