<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Löttinglund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @(Html.Kendo().Menu()
      .Name("Menu")
      .Items(items =>
      {
          items.Add().Text("Om Löttingelund");
          items.Add()
              .Text("LöVA")
              .Items(children =>
               {
                   children.Add().Text("VA arbete")
                           .Items(innerChildren =>
                           {
                               innerChildren.Add().Text("Ny Åtgärd").Url("/Lova/AddNewActivity");
                               innerChildren.Add().Text("VA-rapport").Url("/Lova/WaterDrainReport");
                           });

                   children.Add().Text("Statistik")
                           .Items(innerChildren =>
                           {
                               innerChildren.Add().Text("Larm");
                               innerChildren.Add().Text("Intags");
                           });

                   
               });
          
      })
)

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            
        </div>
    </div>
</nav>
