<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Löttinglund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @(Html.Kendo().Menu()
      .Name("Menu")
      .Items(items =>
      {
          items.Add().Text("Om Löttingelund")
          .Items(children =>
          {

              children.Add().Text("Om").Url("/About/About");
              children.Add().Text("Kultur & fritid")
              .Items(innerChildren =>
                          {
                              innerChildren.Add().Text("Bad").Url("/About/Bath");
                              innerChildren.Add().Text("Båtliv");
                              innerChildren.Add().Text("Cykelvägar");
                              innerChildren.Add().Text("Golf");
                              innerChildren.Add().Text("Fiske");
                              innerChildren.Add().Text("Fornlämningar");
                              innerChildren.Add().Text("Motionsspår");
                              innerChildren.Add().Text("Ridskola");
                              innerChildren.Add().Text("Rönninge by");
                              innerChildren.Add().Text("Roslagsleden");

                          });
              children.Add().Text("Skola & barnomsorg");
              children.Add().Text("Grannsamverkan").Url("/About/NeighbourhoodWatch");

          });


      })
)

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />

        </div>
    </div>
</nav>


<style>

   
</style>

