<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Löttinglund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Startsida</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOmDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Om Löttingelund
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOmDropdown">
                        <a class="dropdown-item" href="#">Om Löttingelund</a>
                        <a class="dropdown-item" href="/Lova/AddNewActivity">Lägg till</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarVillaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Villaföreningen
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarVillaDropdown">
                        <a class="dropdown-item" href="#">Test</a>
                        <a class="dropdown-item" href="/Lova/AddNewActivity">Ny åtgärd</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLovaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LöVA
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarLovaDropdown">
                        <a class="dropdown-item" href="/Lova/WaterDrainReport">Åtgärds rapport</a>
                        <a class="dropdown-item" href="/Lova/AddNewActivity">Ny åtgärd</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>