<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Löttinglund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @(Html.Kendo().Menu()
      .Name("Menu")
      .Items(items =>
      {
          items.Add().Text("Om Löttingelund");

          items.Add().Text("Villaföreningen")
              .Items(children =>
                  {
                      children.Add().Text("Dokument");
                      children.Add().Text("Felanmälan");
                      children.Add().Text("Flytta in/ut");
                  });

          items.Add()
              .Text("Uthyrning")
              .Items(children =>
              {
                  children.Add().Text("Byggställning").Url("/Rental/Workingplatform");
                  children.Add().Text("Kajak");
              });

          items.Add()
              .Text("LöVA")
              .Items(children =>
              {
                  children.Add().Text("VA arbete")
                          .Items(innerChildren =>
                          {
                              innerChildren.Add().Text("Ny Åtgärd").Url("/Lova/AddNewActivity");
                              innerChildren.Add().Text("VA-rapport").Url("/Lova/WaterDrainReport");
                          });

                  children.Add().Text("Statistik")
                          .Items(innerChildren =>
                          {
                              innerChildren.Add().Text("Larm");
                              innerChildren.Add().Text("Intagsenhet");
                          });
                  children.Add().Text("Dokument")
                                     .Items(innerChildren =>
                                     {
                                         innerChildren.Add().Text("Larm");
                                         innerChildren.Add().Text("Intagsenhet");
                                     });


              });

         



      })
)

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />

        </div>
    </div>
</nav>


<style>

    /* default state */
    .k-menu .k-item {
        background-color: white;
    }
        /* hovered state */
        .k-menu .k-item .k-state-hover {
            background-color: lightsteelblue;
        }
        /* parent state */
        .k-menu .k-item .k-state-border-right {
            background-color: lightsteelblue;
            color: white;
        }


    .k-menu .k-state-hover .k-link.k-state-active {
        background-color: lightsteelblue;
    }

    .k-menu .k-item > .k-state-active {
        background-color: lightsteelblue;
    }




    #verifyMainMenu {
    }

    #verifyNav {
        max-width: 100%;
        border-bottom: 1px solid #dee2e6 !important;
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }
</style>

