/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

/* Section for custom fonts */
@font-face {
    font-family: 'robotoregular';
    src: url('../Fonts/roboto-regular-webfont.woff2') format('woff2'), 
        url('../Fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General Settings for all pages */

html {
    position: relative;
    min-height: 100%;
    
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #ffffff;
    font-family: robotoregular, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



/* CUSTOMIZE TELERIK MENU */
/* default state */
.k-menu .k-item {
    background-color: #f4f4f2;
    font-size: 14px;
}
    /* hovered state */
    .k-menu .k-item .k-state-hover {
        background-color: lightsteelblue;
    }
    /* parent state */
    .k-menu .k-item .k-state-border-right {
        background-color: lightsteelblue;
        color: white;
    }


.k-menu:not(.k-context-menu) {
    border-color: #dde2e7;
    color: #212529;
    background-color: #f4f4f2;
}




.k-menu .k-state-hover .k-link.k-state-active {
    background-color: lightsteelblue;
}

.k-menu .k-item > .k-state-active {
    background-color: lightsteelblue;
}




#verifyMainMenu {
}

#verifyNav {
    max-width: 100%;
    border-bottom: 1px solid #dee2e6 !important;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.k-scheduler-header-wrap div.k-event,
.k-scheduler-content div.k-event {
    background-color: lightgray;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 2rem;
    padding-right: 0px;
    padding-left: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: left;
}

.marketing h2 {
    font-weight: normal;
    margin-left: 1rem;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette {
    padding-right: 15px;
    padding-left: 15px;
}


.featurette-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 3rem;
    }
}


/* Rental Template */

.rental-template img {
    float: left;
    margin: 0 8px;
}

.rental-template p {
    margin: 5px 0 0;
}

.rental-template h3 {
    padding: 0 8px 5px;
    font-size: 12px;
}

.rental-template a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

    .k-state-hover .rental-template a,
    .rental-template a:hover {
        color: #000000;
    }


.jumbotron {
    background-color: #f4f4f2 !important;
}

    .jumbotron.jumbotron-fluid {
        background-color: #f4f4f2 !important;
    }

.card-header {
    background-color: #f4f4f2 !important;
}


