<div class="row">
    <h5>Instruktioner</h5>
</div>
<div class="row">
    <ul>
        <li>
            Välj folder
        </li>
        <li>
            Högerklicka på filnamnet för att öppna dokumentet
        </li>
    </ul>
</div>