@using Microsoft.AspNetCore.Identity
@using LOVA.API.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>

<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <!--  Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" />

    <!-- Add the Kendo Bootstrap v4 theme: -->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.1.119/styles/kendo.bootstrap-v4.min.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.custom.min.css" />*@
    <link rel="stylesheet" href="~/lib/icofont/icofont.min.css" />
    @*<link rel="stylesheet" href="~/lib/boostrap/dist/css/boostrap.min.css" />*@

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />*@


    <!-- UI Script files -->
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2021.1.119/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.aspnetmvc.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @*<script type="text/javascript" src="~/lib/holder/holder.min.js"></script>*@
    
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2021.1.119/js/cultures/kendo.culture.sv-SE.min.js"></script>
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2021.1.119/js/messages/kendo.messages.sv-SE.min.js"></script>

    <!-- Font -->
    <script src="https://kit.fontawesome.com/ac1c9834c3.js" crossorigin="anonymous"></script>

    <!-- Template Main JS file -->
    <script type="text/javascript" src="~/js/main.js" asp-append-version="true"></script>

</head>



<body>
    <header >
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
        {
            <partial name="Menu/_menuUser" />
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Lova"))
        {
            <partial name="Menu/_menuLova" />
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Styrelse"))
        {
            <partial name="Menu/_menuStyrelse" />
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <partial name="Menu/_menuAdmin" />
            @*<partial name="Menu/_admin" />*@
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("VA"))
        {
            <partial name="Menu/_menuVA" />
        }
        else
        {
            <partial name="Menu/_menu" />
        }

    </header>

    <script type="text/javascript">
        //set culture of the Kendo UI
        kendo.culture("sv-SE");
    </script>

    @{
        CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("sv-SE");
    }

    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px; margin-top: 100px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <i class="far fa-copyright"></i> 2020 - Löttingelund - <a href="mailto:info@lottingelund.se">info@lottingelund.se</a> - <a href="https://www.facebook.com/L%C3%B6ttingelund-346423732213175" target="_blank"><span style="font-size: 24px; color: Dodgerblue; vertical-align: middle" class="mb-1"><i class="fab fa-facebook-square"></i></span></a>
        </div>
    </footer>



    @RenderSection("Scripts", required: false)
</body>
</html>
