@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        @(Html.Kendo().Menu()
                .Name("Login")
                .Items(items =>
                {
                    items.Add().Text("Välkommen " + @UserManager.GetUserName(User))
                       .Items(children =>
                       {
                           children.Add().Text("Hantera").Url("/Identity/Account/Manage");
                       });
                    
                })
         )



        @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarIdentityDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Välkommen @UserManager.GetUserName(User)!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarIdentityDropdown">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Hantera</a>

            </div>
        </li>*@

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark mt-2" style="font-size: 14px; opacity:0.75;">Logga ut</button>
            </form>
        </li>
    }
    else
    {
        <!--
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        -->
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
        </li>
    }
</ul>
