@page
@model LOVA.API.Pages.Media.AboutModel
@{
}

<!-- Example row of columns -->
<div class="container mt-2">
    <div class="row">


        <div class="row mx-auto">
            <img src="~/Images/iStock_000008698560Small.jpg" width="640" height="346" />
        </div>
        <div class="row offset-2 col-8 mt-3">
            <p>
                Löttingelund Tomtägarförening investerade 2012 i ett eget fibernät. För Internet och bredbandstelefoni svarar  Ownit  och för TV svarar Telenor. Ownit ingår i Telenor-koncernen.
            </p>
            <p>
                Kostnad för bredband inkl. IP telefoni och TV (basutbudet) är 209 kr/mån. Enbart TV kostar 100 kr/mån. Mer info finns under menyerna TV, Bredband och IP-telefoni.
            </p>
            <p>
                Enbart bredband går inte att beställa, måste ha TV för att kunna beställa bredband.
            </p>
            <p>
                Digitalboxen från Telenor tillhör fastigheten och får ej tas med vid eventuell flytt.
            </p>
        </div>
    </div>
</div>
 

<!-- /container -->
