@page
@model LOVA.API.Pages.Media.CableTvModel
@{
}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Kabel TV
        </h1>
    </div>
</div>
<div class="container mt-2">
    <div class="offset-1 col-md-10">
        <div class="row">
            <img src="~/Images/tv_flera_rum_bakgrund_698x304.jpg" width="640" height="320" />
        </div>

        <div class="row mt-3">
            <p>
                Genom Telenor har vi tillgång till ett av marknadens bästa TV-utbud. Basutbudet som kostar för närvarande100 kr/mån innehåller 18 kanaler varav 3 är HD kanaler. Vill man ha bästa möjliga bild och ljud väljer man att se kanalerna digitalt. Då krävs en digitalbox till varje TV, alternativt en TV med inbyggd digitalbox. Den som har flera TV-apparater kan givetvis välja att se digitalt på en apparat och analogt på en annan. Alternativt köpa till en digitalbox till varje extra TV där man vill kunna se TV digitalt.
            </p>
        </div>

        <div class="row">
            <img src="~/Images/tvbas.jpg" width="640" height="320" />
        </div>
        <div class="row mt-3">
            <p>
                Utöver de 18 kanalerna som ingår i basutbudet kan var och en fritt komplettera med fler kanaler eller kanalpaket efter eget tycke och smak. Information om vilka kanaler som finns och vad de olika kanalerna eller kanalpaketen kostar hittar du på www.telenor.se/handla/tv/. Observera att det alltid krävs en digitalbox eller en TV med inbyggd digitalbox för att kunna se tillvalskanalerna. Det är således bara baspaketet som kan ses analogt utan digitalbox.

                <br />
                <br />

                Du kan enkelt utöka ditt kanalutbud. Gå in på www.telenor.se/handla/tv/ så ser du vika kanalpaket eller enskilda kanaler du kan komplettera med och vad de olika paketen och kanalerna kostar. Du kan också ringa Telenor, 020-222 222
                <br />
                <br />


                <b>Kanalsökning</b><br />

                Autosökning av kanaler fungerar ofta bra.

                <br />
                <br />

                <b>Telenor Stream</b><br />

                Genom Telenor Stream kan du se dina TV-kanaler på datorn, surfplattan, mobilen eller din Apple TV. Oavsett om du är hemma, i bilen, på bussen eller i fritidshuset.

                <br />
                <br />


                Läs mer och registrera dig för tjänsten www.telenor.se/handla/tv (du behöver ha ditt kundnummer hos Telenor tillgängligt) eller ring Telenor Kundtjänst på 020-222 222 om du behöver hjälp.
            </p>
        </div>

    </div>
</div>