@page
@model LOVA.API.Pages.Media.InternetModel
@{
}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Bredband
        </h1>

    </div>
</div>
<div class="container mt-2">
    <!-- Example row of columns -->
    <div class="row">


            <div class="row">
                <img src="~/Images/BUF2073.jpg" width="640" height="320" />
            </div>
            <p class="mt-3">
                Alla fastigheter som är anslutna till fibernätet har tillgång till 500/1000 Mbit/s symetrisk bredband. Vill du ha datorn ansluten trådlöst går det alldelses utmärkt. Bredbandsanslutningen kostar 109 kr/mån.

                <br />
                <br />

                Vår leverantör OwnIT erbjuder också tilläggstjänster som Backup och lagring samt Säkerhetspaket. Mer information och priser hittar du på <a href="www.ownit.se">www.ownit.se </a> 
            </p>

        </div>
       
    </div>

<!-- /container -->