@page
@model LOVA.API.Pages.Media.IpPhonesModel
@{
}


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            IP-telefoni
        </h1>

    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">


        <div class="row">
            <img src="~/Images/CIMG1871.jpg" width="640" height="320" />
        </div>
        <p class="mt-3">
            Fastigheter som är anslutna till fibernätet kan också få IP-telefoni utan extra kostnad (flytt av telefonnummer kostar dock 199 kr). IP-telefoni fungerar som en vanlig fast telefoni, men istället för att ringa via Telias analoga telenät ringer du via din bredbandsuppkoppling. Man kopplar in sin vanliga telefon i tjänstefördelaren. Du betalar bara när du ringer. Ringer du inte alls kostar det inget och när du ringer betalar du bara 14 öre per samtalsminut och 1.69kr till mobiltelefoner. Ingen öppningsavgift och ingen extra månadskostnad.
        </p>

    </div>

</div>

<!-- /container -->