@page
@model LOVA.API.Pages.Media.TVModel
@{
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            Bredbands TV
        </h1>
    </div>
</div>
<div class="container">
    <div class="offset-1 col-md-10">
        <div class="row mt-3">
            <p>
                Nu kan du också välja bredbandsTV genom Ownit. Vi kallar det kort och gott för Ownit TV. BredbandsTV ingår inte i det ordinarie TV abonnemanget, så du måste själv göra ett aktivt val och beställa bredbandsTV hos Ownit tel 08-525 072 00 eller på www.ownit.se "Mina sidor".
                <br />
                <br />
                Genom Ownit TV får du flera nya bra funktioner. Den speciella HD-boxen använder sig av radio istället för IR överföring, vilket innebär att du kan placera HD-boxen i ett skåp. Genom fjärrkontrollen kan du också pausa program och välja att starta om program efter eget önskelmål.
                <br />
                <br />
                Med ett utbud på upp till 46 kanaler och ytterligare 16 i HD kan vi garantera att det finns något för alla, stora som små. Vi erbjuder 3 olika kanalpaket. BAS, FLEX och STOR. Du kan se nedan vilka kanaler som ingår i de olika paketen och vad de kostar.
                <br />
                <br />
                Det enklaste kanalpaketet BAS kostar 189 kr/mån och innehåller 15 av de mest populära TV kanalerna, plus 3 HD kanaler.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Ownit-BAS.jpg" width="620" height="628" />
        </div>

        <div class="row mt-3">
            <p>
                Vill du ha lite mer valmöjligheter rekommenderar vi att du lägger till FLEX-paketet där du, utöver basutbudet och för ett tillägg på 259 kr/mån får välja 8 egna favoritkanaler. Du har ingen uppsägningstid på FLEX och du kan ändra favoriter varje månad om du vill.
            </p>
        </div>

        <div class="row">
            <img src="~/Images/Ownit-FLEX.jpg" width="620" height="1030" />
        </div>
        <div class="row mt-3">
            <p>
                Är du en riktig TV-älskare erbjuder vi vårt största paket där du har tillgång till hela utbudet och slipper kompromissa. Väljer du kanalpaket STOR kostar det 379 kr/mån.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Ownit-STOR.jpg" width="620" height="1030" />
        </div>
        <div class="row mt-3">
            <p>
                För de kunder som vill ha extra guldkant på sitt TV-utbud har Ownit mer att erbjuda. Du kan lägga till något av våra tillvalspaket som till exempel Viasat Sport och C More Film.

                Mer information om alla tillvalspaket och priser hittar du påwww.ownit.se/tv.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Ownit-Tillval.jpg" width="620" height="336" />
        </div>
        <div class="row mt-3">
            <p>
                HD-Boxen vi använder för vår TV-tjänst är av märket Arris 2853. Boxen kommer förberedd med vår egen mjukvara vilket gör att du får en så bekväm och smidig upplevelse som möjligt. Självklart är den kompatibel med full HD och diverse andra funktioner som till exempel möjligheten att pausa live tv eller starta om ett program.
                <br />
                <br />
                En annan smart funktion är att fjärrkontrollen använder radio istället för IR. Detta gör att du inte behöver tänka på hinder mellan HD-box och fjärrkontrollen, med andra ord kan du gömma undan HD-boxen i ett skåp så du har rent och snyggt hemma utan prylar framme.
                <br />
                <br />
                HD boxen kostar 899 kr.
                <br />
                <br />
                Önskar du kan du även köpa till en hårddisk för möjligheten att spela in och spara dina favoritprogram eller filmer.
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Ownit-Boxen.jpg" width="620" height="336" />
        </div>

    </div>
</div>