@page
@model LOVA.API.Pages.Lottingelund.Surveys.SurveyIntroModel
@{
}

<div class="container mt-5" style="height:90vh;">
    <div class="offset-sm-2 col-sm-8">
        <div class="row mt-5">
            <h4>Enkät avseende Parkering och Väghinder inom Löttingelund</h4>
        </div>



        <div class="row mt-5">
            <p class="lh-sm">
                Vägarna inom Löttingelund ägs av Täby kommun, men är sedan 1984 under förvaltning genom Löttingelunds Vägförening, vilket var ett av flera skallkrav från Täby kommun när Löttingelund 1984 själva tog över huvudmannaskapet för området avseende vägar och VA.<br />
                Vägnätet inom området är konstruerat i enlighet med de krav och planer som då fanns för området med inriktning mot att vara ett naturnära område med större tomter och lantlig omgivning. Det innebär att vägarna inte håller den standard som motsvarar dagens krav. Det ställer dock krav på att trafiken i området respekterar de regler som gäller bl.a. för tung trafik och parkering på områdets vägar.

            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                Parkering är ett återkommande område som kan orsaka vissa problem och meningsskiljaktigheter. Fram till nyligen så gällde datumparkering inom området, precis som i övriga Täby kommun där inget annat anges med särskilda skyltar. Sedan i juni 2022 har regelverket ändrats och det råder fri parkering där inget annat anges, vilket därmed också gäller för Löttingelund om inget annat beslutas att införas. Övergripande regler avseende parkering gäller självklart exempelvis i kurvor, nära korsningar, utfarter eller övergångsställen.
                Det finns ett antal alternativ för Vägföreningen att gå vidare i denna fråga och vi har därför beslutat att genomföra en enkät för att få underlag till framtida inriktning i frågan.
                I huvudsak finns det några olika tänkbara förslag:

                
            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                -	Att ha kvar fri parkering och säkerställa att övergripande regelverk efterlevs med möjlighet att bötfälla fordon som parkerar fel. <br />
                -	Att införa vissa begränsningar att parkera på vägarna och enbart tillåta parkering på egen mark samt där det uppenbarligen inte innebär någon fara eller säkerhetsrisk. Möjlighet att bötfälla fordon som parkerar fel.<br />
                -	Att införa totalt förbud att parkera inom området. Möjlighet att bötfälla fordon som parkerar fel.

            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                Föreningen får även påstötningar av fastighetsägare att gällande hastighetsbegränsning inom området (30 km/h) inte efterlevs av alla. Man vill se åtgärder, som gör att trafiken blir långsammare. Andra fastighetsägare säger att man inte vill ha några hinder. Sådana hinder kan införas i form av gupp eller chikaner (sidoförflyttning av körbanan) men får inte omöjliggöra framkomlighet för större fordon eller plogbilar.
            </p>
        </div>
        <div class="row">
            <p class="lh-sm">
                Resultatet från enkäten kommer att publiceras på hemsidan och ligga till grund för ett förslag att ta ställning till på årsmötet 2023.
            </p>
        </div>

        <div class="row">
            <p class="lh-sm">
                Undersökningen genomförs anonymt och vi kommer inte att lagra några uppgifter som kopplas till någon enskild individ eller fastighet.
            </p>
        </div>
        <div class="row mt-5">
            <a class="btn btn-primary"  role="button" aria-disabled="false" href="Survey">Starta</a>
        </div>
    </div>

</div>
