@page
@model LOVA.API.Pages.FeaturesModel
@{
}



<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette m-3">
    <div class="col-md-7">
        <h2 class="featurette-heading">Ursprungligen<span class="text-muted"> ett sommarstugeområde</span></h2>
        <p class="lead">Löttingelund är ursprungligen ett sommarstugeområde som utvecklats till ett litet villasamhälle med ca 230 villafastigheter. Den vackra och djurrika miljön runt Löttingelund präglar området och kommer att, enligt Täby Kommuns stadsplan, bevaras som grönområden.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/Images/fastighet.jpg" width="620" height="413">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette m-3">
    <div class="col-md-7 order-2">
        <h2 class="featurette-heading"><span class="text-muted">Vackert beläget vid </span>Rönningesjön </h2>
        <p class="lead">Löttingelund ligger vackert beläget vid Rönningesjön, som ger unika möjligheter till bad och motion, bland annat vid motionsanläggningen Skavlöten.</p>
    </div>
    <div class="col-md-5 order-1">
        <img class="featurette-image img-responsive center-block" src="~/Images/022.jpg" width="620" height="413" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette m-3">
    <div class="col-md-7">
        <h2 class="featurette-heading">Runt Rönningesjön<span class="text-muted"> en 6 km lång stig</span></h2>
        <p class="lead">Runt Rönningesjön finns en 6,5 km lång vandrings- och löpstig som passerar Rönningeby, en levande kulturgård med djurhållning öppen för allmänheten till stor förtjusningen inte minst för barnen.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/Images/sopys.jpg" width="620" height="413" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette m-3">
    <div class="col-md-7 order-2">
        <h2 class="featurette-heading">Historiskt <span class="text-muted">perspektiv</span> </h2>
        <p class="lead">Löttingelund har även betydelse ur ett historiskt perspektiv, eftersom det här finns många fornlämningar bevarade.</p>
    </div>
    <div class="col-md-5 order-1">
        <img class="featurette-image img-responsive center-block" src="~/Images/022.jpg" width="620" height="413" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette m-3">
    <div class="col-md-7">
        <h2 class="featurette-heading">Shopping<span class="text-muted"> nära till Täby Centrum och nya Arninge</span></h2>
        <p class="lead">
            Från Löttingelund är det fem minuters bilväg till Täby Centrum, ett av sveriges modernaste köpcentra med över 270 butiker, restauranger och cafeer. Här finns även all tänkbar service i form av läkarmottagningar, apotek, kemtvätt, Systembolag mm.
            <br />
            Åker man norrut med bil tar det bara några minuter från Löttingelund till Arninge Centrum. Här finns förutom ett stort butiksutbud, flera stora byggvaruhus, flera stora livsmedelsbutiker, systembolag, Apotek och till barnens stora förtjusning, Leos lekland.
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/Images/taby_centrum.jpg" width="620" height="413" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
