@page
@model LOVA.API.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/_layout.cshtml";
    ViewData["Title"] = "Start";
}


@(Html.Kendo().Notification()
        .Name("notification")
        .Position(p => p.Pinned(true).Top(30).Right(30))
        .Stacking(NotificationStackingSettings.Down)
        .AutoHideAfter(0)
        .Templates(t =>
        {
            t.Add().Type("info").ClientTemplateID("emailTemplate");
        })
)

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="first-slide" src="~/Images/Ny belaggning.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Ny beläggning</h1>
                    <p>Första etappen klar oktober 2023</p>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="first-slide" src="~/Images/022.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Löttingelund</h1>
                    <p>Löttingelund ligger i Täby kommun, ca 12 km norr om Stockholm, mellan angränsande Gribbylund, Täby Kyrkby och Arninge.</p>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="~/Images/stad415.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Löttingelund</h1>
                    <p>Löttingelund är ett attraktivt villaområde med ca 230 fastigheter, beläget invid Rönningesjön. Området präglas av villabebyggelse på stora naturtomter i vacker miljö.</p>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="~/Images/taby_centrum.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Täby centrum</h1>
                    <p>I Löttingelund är det nära till allt, från shopping i Täby Centrum, ett av Sveriges största och modernaste köpcentra med över 260 butiker och restauranger.</p>
                    @*<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>*@
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="~/Images/motionsspar.jpg" alt="Fifth slide">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Fritid</h1>
                    <p>I Löttingelund är det näst intill obegränsade möjligheter till rekreation och sport.</p>

                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#myCarousel" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#myCarousel" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- START THE FEATURETTES -->
<div class="row featurette m-3">
    <div class="col-md-7">
        <h2 class="featurette-heading">Löttingelundsföreningarna</h2>
        <p class="lead">I Löttingelund tar vi hand om våra egna vägar och vi har ett eget VA-system. Allt sköts av våra villaföreningar. Vi har en Tomtförening, en VA-förening och en Vägförening. Anslutning till villaföreningarna är obligatoriskt och föreningarnas arbete betalas genom att varje villaägare kvartalsvis betalar föreningsavgifter.</p>
    </div>
    @*<div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>*@
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container-fluid marketing mt-5">

    <div class="row">
        <div class="col-lg-4">
            <h2>Tomtförening</h2>
            <p>Tomtföreningens uppgift är att tillvarata fastighetsägarnas i Löttingelund tomtområde, gemensamma intressen beträffande skötsel av parkmark, bryggor och båtplatser, samt andra gemensamma intressen för medlemmarnas och samhällets nytta och trevnad.</p>
            </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>VA-förening</h2>
            <p>VA-föreningens uppgift är att sköta vårt gemensamma vatten- och avloppssystem. Alla fastigheter inom Löttingelund är anslutna till Löttingelunds privata VA-system. I området finns 142 brunnar som töms 50 ggr/dygn. Vattenförbrukningen i området är 42.000 kbm per år. Vi bidrar med i genomsnitt 550 liter till avloppssystemet per dygn per hushåll. Vi har 6,5 km VA kulvert i området varav ca 6 km eluppvärmd.</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>Vägförening</h2>
            <p>
                Vägföreningens uppgift är att svara för drift och underhåll av samtliga vägar inom Löttingelundomrdet. Löttinglunds- och Löttinelundsvägen har Vägverket ansvar för. Skavlötensvägen samt delar av Löttingelundsvägen har Täy kommun ansvar för.
            </p>
            <p>
                Vi sköter förstås snöröjningen själva vilket har samma inverkan på trivseln. Om du inte orkar eller kan röja din garageuppfart kan du ringa till den som röjer snön och be honom att ta bort din snö också.
            </p>

        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


</div>


<script id="emailTemplate" type="text/x-kendo-template">

    <div class="new-mail">
        <img src="@Url.Content("~/Images/envelope.png")" />
        <h3>#= title #</h3>
        <p class="p">#= message #</p>
    </div>

</script>




@{
    var RazorData = Model.Notifications;
}


@section Scripts {
    @*<script src="_framework/blazor.server.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {

            var notification = $("#notification").data("kendoNotification");

            var data = JSON.parse('@Json.Serialize(@Model.Notifications)');

            jQuery.each(data, notisFunction);

            function notisFunction(index, item) {
                notification.show({
                    title: item.Title,
                    message: item.Message
                }, "info");
            }
        });
    </script>

}

<style type="text/css">

    /* Notifications */
    .k-notification {
        background-color: #0058E9;
        color: white;
    }
    
    .k-notification h3 {
        padding: 30px 10px 5px;
        font-size: 2em;
        line-height: normal;
    }
    
    .k-notification img {
        margin: 20px;
        float: left;
    }

    /* Info template */
    .new-mail {
        width: 600px;
        height: 130px;
    }

</style>
