@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-10 d-flex justify-content-center text-center">
    <h5>För frågor eller boka ring Micke Vikström 070 822 3315</h5>
</div>


