@page
@model LOVA.API.Pages.Rental.KajakModel
@{
    ViewData["Title"] = "Kajak";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

    </div>


    <div class="row">
        <div class="mx-auto">
            <h4>Hyr kajak</h4>
        </div>     
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div class="row">
                <h4>Enmanskajak</h4>
            </div>
            <div class="row">
                <img src="~/Images/kajak_Dreamer_2.jpg" width="400" height="120" />
            </div>
            <div class="row mt-3">
                En mycket stabil, lätt och lite kortare havskajak som kan användas av både vuxna och barn. Dreamer har en rymlig sittbrunn, och har trots sin relativt korta längd bra med förvaringsutrymme för längre turer. Mycket smidig och enkel att hantera på land.
                <br />
                Passar dig som väger mellan 50-90 kg och paddlar mestadels i lugnt vatten.<br />
                Längd: 4,45m<br />
                Bredd: 0,58 m<br />
                Vikt: 23kg<br />
                Maxlast: rekommenderad 130kg<br />
                Material: Polyethylene<br />
                Roder ingår som standard<br />
                <br />
                Priser för uthyrning av enmanskajak från Löttingelunds Tomtägareförening (inkl. paddel och flytväst).<br />
                <br />
                0-2 tim 100 kr<br />
                2-4 tim 200 kr<br />
                Heldag 350 kr<br />
                Helg 600 kr<br />
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <h4>Tvåmanskajak</h4>
            </div>
            <div class="row">
                <img src="~/Images/2-manskajak.jpg" width="400" height="120" />
            </div>
            <div class="row mt-3">
                En rolig och väldigt stabil tvåmanskajak med två stora sittbrunnar, vilket gör det möjligt att ha mindre barn i knäet medan man paddlar. Två stora förvaringsutrymmen finns, samt dryckes- och matförvaringsmöjlighet framför båda sittbrunnarna.<br />
                <br />
                Båda sittbrunnarna har mycket bekväma och mjuka sitsar med justerbara ryggstöd.<br />
                <br />
                Kajaken går utmärkt att paddla även på egen hand. Från den bakre sittbrunnen styr man rodret och har därifrån bra manövreringsförmåga.
                Längd: 5,11m<br />
                Bredd: 0,68 m<br />
                Vikt: 28 kg<br />
                Maxlast: rekommenderad 240 kg<br />
                <br />
                Priser för uthyrning av tvåmanskajak från Löttingelunds Tomtägareförening (inkl. paddel och flytväst).
                <br />
                0-2 tim 150 kr<br />
                2-4 tim 250 kr<br />
                Heldag 500 kr<br />
                Helg 750 kr<br />
            </div>
        </div>
    </div>

    <div class="row mt-4">
       

    </div>

    <div class="row mt-3">
        <h4>Boka</h4>
    </div>

    <div class="row mt-5">
        @(Html.Kendo().Scheduler<RentalSchedularViewModel>
                    ()
                    .Name("scheduler")
                    .Mobile(MobileMode.Auto)
                    .Date(Model.DateToday)
                    .StartTime(new DateTime(Model.DateToday.Year, Model.DateToday.Month, Model.DateToday.Day, 9, 00 ,00))
                    .Height(600)
                    .Editable(e => e.TemplateName("rentalTemplate"))
                    .Events(e => e.Edit("onEdit"))
                    .EventTemplate(
        "<div class='movie-template' style='background-color:#:data.BackgroundColor#'>" +
                    
                    "<h4>#= title #</h4>" +
                    
                "</div>")
                    .Views(views =>
                    {
                        views.DayView();
                        views.WeekView();
                        views.MonthView(w =>
                        {
                            w.Selected(true);
                        });
                    })

                    .DataSource( d => d
                        .Model(m =>
                        {
                            m.Id(f => f.RentalId);
                            m.Field(f => f.Title);
                            m.Field(f => f.BackgroundColor);
                        })
                .Read(r => r.Url("/Rental/Kajak?handler=Read").Data("forgeryToken"))
                .Create(r => r.Url("/Rental/Kajak?handler=Create").Data("forgeryToken"))
                .Update(r => r.Url("/Rental/Kajak?handler=Update").Data("forgeryToken"))

                    )
                    )
    </div>
    <div class="row">
        <partial name="_Scheduler" />
    </div>

</div>









@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        kendo.culture("sv-SE");

        //$("#scheduler").kendoScheduler({
        //    edit: function (e) {
        //        setTimeout(function () {
        //            $('.k-window-title').text('Boka');
        //        }, 100)
        //    }
        //});

        function forgeryToken() {
            return kendo.antiForgeryTokens();
        }

        function onEdit(e) {
            $('.k-window-title').text('Boka');
        }


    </script>
}

