@page
@model LOVA.API.Pages.Rental.PartyModel
@{
    ViewData["Title"] = "Party";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">

    </div>


    <div class="row">
        <div class="mx-auto">
            <h4>Hyr till partyt</h4>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-3">
            <div class="row">
                <h4>Tält (2 st finns)</h4>
            </div>
            <div class="row">
                <img src="~/Images/Talt.jpg" width="200" height="60" />
            </div>
            <div class="row mt-3">
                24 kvm (6 x 4 m) i tålig PVC.
                <br />

                <br />
                Pris: 500 kr per dygn<br />
                Hämta dag 1 efter kl 12:00 och lämna tillbaka dag 2 före Kl 12:00.

            </div>

        </div>
        <div class="col-3">
            <div class="row">
                <h4>Bord (8 st finns)</h4>
            </div>
            <div class="row">
                <!--
                <img src="~/Images/2-manskajak.jpg" width="400" height="120" />
            -->
            </div>
            <div class="row mt-3">
                Rektangulära bord, 183x76 cm (6 personer). Höjd: 74 cm.<br />
                <br />


                <br />
                Pris: 20 kr per dygn.<br />
                Hämta dag 1 efter kl 12:00 och lämna tillbaka dag 2 före Kl 12:00.
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <h4>Klappstolar (60 st finns)</h4>
            </div>
            <div class="row">
                <!--
                <img src="~/Images/2-manskajak.jpg" width="400" height="120" />
            -->
            </div>
            <div class="row mt-3">
                Klappstolar, stapelbara och praktiska. Färg: vita<br />
                <br />


                <br />
                Pris: 10 kr per dygn.<br />
                Hämta dag 1 efter kl 12:00 och lämna tillbaka dag 2 före Kl 12:00.
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <h4>Värmare (4 st finns)</h4>
            </div>
            <div class="row">
                <!--
                <img src="~/Images/2-manskajak.jpg" width="400" height="120" />
            -->
            </div>
            <div class="row mt-3">
                Effektiv och energisnål kolfiberstav som överträffar värmare med metallstav. Timerfunktion, som kan ställas mellan 1-60 minuter. Oscillerande funktion gör att ett större område kan värmas upp. Värmaren är utrustad med överhettnings- och tippskydd. Fotens diameter: 210 mm, höjd 77 cm.<br />
                <br />


                <br />
                Pris: 30 kr per dygn.<br />
                Hämta dag 1 efter kl 12:00 och lämna tillbaka dag 2 före Kl 12:00.
            </div>
        </div>
    </div>

    <div class="row mt-4">


    </div>

    @*<div class="row mt-3 col-8 offset-2">
        <h4>Boka</h4>
    </div>*@

    @*<div class="row mt-5 col-8 offset-2">
        @(Html.Kendo().Scheduler<RentalSchedularViewModel>
                    ()
                    .Name("scheduler")
                    .Mobile(MobileMode.Auto)
                    .Date(Model.DateToday)
                    .StartTime(new DateTime(Model.DateToday.Year, Model.DateToday.Month, Model.DateToday.Day, 9, 00 ,00))
                    .Height(600)
                    .Editable(e => e.TemplateName("partyTemplate"))
                    .Events(e => e.Edit("onEdit"))
                    .EventTemplate(
        "<div class='movie-template' style='background-color:#:data.BackgroundColor#'>" +

                    "<h5>#= title #</h5>" +

                "</div>")
                    .Views(views =>
                    {
                        views.DayView();
                        views.WeekView();
                        views.MonthView(w =>
                        {
                            w.Selected(true);
                        });
                    })

                    .DataSource( d => d
                        .Model(m =>
                        {
                            m.Id(f => f.RentalId);
                            m.Field(f => f.Title);
                            m.Field(f => f.BackgroundColor);
                        })
                .Read(r => r.Url("/Rental/Party?handler=Read").Data("forgeryToken"))
                .Create(r => r.Url("/Rental/Party?handler=Create").Data("forgeryToken"))
                .Update(r => r.Url("/Rental/Party?handler=Update").Data("forgeryToken"))

                    )
                    )
    </div>*@
    <div class="row">
        <partial name="_Scheduler" />
    </div>

</div>









@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        kendo.culture("sv-SE");

        //$("#scheduler").kendoScheduler({
        //    edit: function (e) {
        //        setTimeout(function () {
        //            $('.k-window-title').text('Boka');
        //        }, 100)
        //    }
        //});

        function forgeryToken() {
            return kendo.antiForgeryTokens();
        }

        function onEdit(e) {
            $('.k-window-title').text('Boka');
        }


    </script>
}