@page
@model LOVA.API.Pages.BoardMember.Members.AddMemberModel

@{
    ViewData["Title"] = "AddMember";
}

<div class="container">
    <div class="row mt-5">
        <h4>Contact</h4>
    </div>
    <div class="row mt-5">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Contact.PremiseId" class="control-label">Adress</label>
                        <select asp-for="Contact.PremiseId" class="form-select" asp-items="ViewBag.PremiseId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.FirstName" class="control-label"></label>
                        <input asp-for="Contact.FirstName" class="form-control" />
                        <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.LastName" class="control-label"></label>
                        <input asp-for="Contact.LastName" class="form-control" />
                        <span asp-validation-for="Contact.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Email" class="control-label"></label>
                        <input asp-for="Contact.Email" class="form-control" />
                        <span asp-validation-for="Contact.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.MobileNumber" class="control-label"></label>
                        <input asp-for="Contact.MobileNumber" class="form-control" />
                        <span asp-validation-for="Contact.MobileNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.PhoneNumber" class="control-label"></label>
                        <input asp-for="Contact.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="checkbox" asp-for="Contact.WantInfoEmail" class="form-check-input" />
                        <label asp-for="Contact.WantInfoEmail" class="form-check-label">E-post utskick</label>
                    </div>
                    <div class="form-group mt-2">
                        <input type="checkbox" asp-for="Contact.WantInfoSMS" class="form-check-input" />
                        <label asp-for="Contact.WantInfoSMS" class="form-check-label">SMS utskick</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary mt-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <a asp-page="Index">Back to List</a>
        </div>
    </div>
</div>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
